<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-content">
      <img src="{{ '/assets/idol-signature.svg' | relative_url }}"
           alt="idol signature"
           class="idol-signature-img" />

      <div class="footer-text">
        <h2 class="footer-heading">{{ site.title }}</h2>
        <ul class="contact-list">
          <li>{% include icon-email.html email=site.email %}</li>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </ul>
        <p class="footer-description">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
